
  <div class="hero container-fluid">


      <div class="logo"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 729.35 178.27"><defs><style>.cls-1{font-size:136px;fill:#fff;font-family:Bebas Neue;letter-spacing:12.63px;}</style></defs><title>crowdcare-logo</title><text class="cls-1" transform="translate(0 147.26) scale(0.95 1.05)">crowdcare</text></svg></div>

      <%= link_to '<button type="button" class="btn btn-default btn-lg get-started">Get Started</button>'.html_safe, new_user_registration_path %>

  </div>



</div>
