
  <div class="hero">


      <div class="logo"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 729.35 178.27"><defs><style>.cls-1{font-size:136px;fill:#fff;font-family:Bebas Neue;letter-spacing:12.63px;}</style></defs><title>crowdcare-logo</title><text class="cls-1" transform="translate(0 147.26) scale(0.95 1.05)">crowdcare</text></svg></div>

      <%= link_to '<button type="button" class="btn btn-default btn-lg get-started">Get Started</button>'.html_safe, new_user_registration_path %>

  </div>


  <div class="boxes">
    <div class="box-row">
      <div class="box" id='box1'>
        <div class="project-pic"></div>
        <div class="project-description"><strong>Austin Soup Kitchen</strong><br><br>We need time and food donations to keep Austin fed this Summer!</div>
      </div>
      <div class="box" id='box2'>
        <div class="project-pic"></div>
        <div class="project-description"><strong>Graffiti Clean Up</strong><br><br>Help us keep Graffiti out of undesignated areas.</div>
      </div>
      <div class="box" id='box3'>
        <div class="project-pic"></div>
        <div class="project-description"><strong>Youth Recreation Center</strong><br><br>Come coach and ref our basketball, soccerball and hockeypuck teams.</div>
      </div>
      <div class="box" id='box4'>
        <div class="project-pic"></div>
        <div class="project-description"><strong>Keep Our Parks Clean</strong><br><br>Volunteer to pick up trash and keep our city looking it's best.</div>
      </div>
    </class>
  </div>
</div>
