<body class="new-project">



  <h1><strong>New Project</strong></h1>
  <hr>

  <%= render 'form' %>
  <hr class="hr-small">

   <%= link_to '<button type="button" id="back-button" class="btn btn-default btn-sml buttons">Back</button>'.html_safe, projects_path %>


</body>
