<button>
  <%= link_to "Create a New Project", new_project_path %>
</button>
<button>
  <%= link_to "Manage My Projects", projects_me_path %>
</button>
<button>
  <%= link_to "My Tasks", tasks_me_path %>
</button>
<button>
  <%= link_to "Browse Current Projects", projects_path %>
</button>
