@import 'partials/_colors.scss';
@import 'partials/_fonts.scss';

#nav{
  background-color: $grey;
  list-style:none;
  margin:0 auto;
  padding:1em;
  text-align:right;

  li{
      display:inline;
      padding:1.5em;
      color: $dkBlue

  }
}
