@import 'partials/_colors.scss';

#nav{
  background-color: $grey;
  border:1em solid $grey;
    border-width:1em 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

  li{
      display:inline;
      padding:1em;
      border: .3em solid $dkBlue;

  }
}
