@import '_colors';
@import '_fonts';
@import '_grid';

#footer{
  background-color: opacify($dkBlue, .8);
  list-style:none;
  margin:0 auto;
  padding:1em;
  text-align: center;

  li{
    display:inline;
    padding:4em;
    color: white;
  }
}
