// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_colors';
@import '_fonts';
@import '_grid';

body{
  background-color: $mdBlue;
}

#dashboard-tasks{
text-align: center;
padding:0 auto;
margin-bottom: 50px;
}
.task-panel{
  margin: 5px 2%;
  text-align:center;
  min-width: 300px;
  border-color: black;
}

.header-dashboard {
  color: white;
}

.buttons {
    margin: 10px 10px 60px 10px;
    background-color: #13CBB8;
    width: 125px;
    border-radius: 3px;

    &:hover {
      color: white;
      background-color: #13CBB8;
    }
    a {
      color: white;
      text-align: center;
    }
}

hr {
  width: 700px;
}
