
@import '_colors';
@import '_fonts';
@import '_grid';
@import '_footer';

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.cust-panel{
  background-color: lighten($grey,10%);
}

.panel-default{
  margin-top: 50px;
  box-shadow: 5px 5px 3px darken($grey, 70%);

}

.panel-default > .panel-heading{
  background-color: #13CBB8;
}

.panel-footer{
  background-color: lighten($grey,5%);

}

body {
  margin: 0 auto;
  background-color: $mdBlue;
  color: white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p, ol, ul, td {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;

  &:visited {
    color: lighten($mdBlue,50%);
  }

  &:hover {
    color: $dkBlue;
    // background-color: lighten($mdBlue, 60%);
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
