
@import '_colors';
@import '_fonts';
@import '_grid';

#deviseWrapperOutside{
  background-color: lighten($mdBlue,20%);
}

body {
  background-color: #fff;
  color: #333;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p, ol, ul, td {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//keyframes for hover on nav bar element
// @mixin fade($color) {
//
//
// @keyframes fade{
//   0% {background-color: $color;}
//   25% {background-color: darken($color, 25%);}
//   50% {background-color: darken($color, 35%);}
//   100% {background-color: darken($color, 50%);}
// }
// }
//
// #top-nav-bar{
//   background-color: $lightBlue;
// }
//
// .nav-ul{
//   list-style-type: none;
//   width: 60px;
// }
//
// .nav-li{
//   background-color: $lightBlue;
//   float:left;
// }
//
// .nav-li:hover{
//   @include fade(LightSteelBlue);
//   transition: all 2.0s;
// }
