// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_colors';
@import '_fonts';
@import '_grid';

.strike {
  text-decoration: line-through;
  color: #24CB6A;
  font-weight: bold;
}

.tasks-me-page {
  text-align: center;
  color: black;
  background-color: #55649d;

  #task-header{
    text-align: center;
    color: white;
  }

  #bottom-buttons{
    margin: auto;
  }


  .complete{
    background-color: #24CB6A;
    color: white;
  }

  .buttons {
    margin: 10px 10px 60px 10px;
    background-color: #13CBB8;
    width: 125px;
    border-radius: 3px;

    &:hover {
      color: white;
    }

    a {
      color: white;
    }
  }

  .task-list {
    text-align: center;
    list-style-type: none;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0px;
    background-color: white;
  }

  .after-task {
    width: 300px;
  }

  hr {
    width: 500px;
  }

  li .complete {
    margin-bottom: 10px;

    &:hover {

      background-color: #24CB6A;

    }
  }
}

button.btn.btn-default.btn-sml.complete{
      background-color: #13CBB8;
      color:black;
      &:hover{
        color:white;
      }
}

#new-task h1 {
  color: white;
}

label {
  color: white;
}

