// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_colors';
@import '_fonts';
@import '_grid';


body {
  margin: 0;
}

.hero {
  position: absolute;
  height: 350px;
  width: 100%;
  background-image: url(/assets/hero.png);
  background-size: cover;
  background-position: center bottom;

  a {
    text-decoration: none;
  }
}

.logo {
  width: 350px;
  margin: auto;
  margin-top: 25px;
  padding-left: 2%;
}

.get-started {
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 11%;
  padding-top: 10px;
  border: 2px solid white;
  color: white;

 &:hover {
  background-color: transparentize(white, 0.6);
  }
}

.boxes {
  height: 300px;
  width: auto;
  margin-top: 363px;
  background-color: $grey;
  text-align: center;
  color: $dkBlue;
}

.box-row {
  padding-top: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.box {
  display: inline-block;
  margin: 0 7px 0 7px;
  height: 260px;
  width: 23%;
  background-color: pink;
  border: 2px solid black;
  //border-radius: 5px;
  opacity: .7;

    &:hover {
    opacity: 1;
  }
}

.project-pic {
  height: 180px;
  background-color: $yellow;
  border-bottom: 2px solid black;
}

.project-description {
  height: 70px;
  background-color: $yellow;
  padding-top: 8px;
  color: $dkBlue;
  padding-left: 4px;
  padding-right: 4px;
}

#box1 .project-pic {
  background-image: url(/assets/welcome/soup.jpg);
  background-size: 100% 100%;
}

#box2 .project-pic {
  background-image: url(/assets/welcome/graf.jpg);
  background-size: auto 100%;
}

#box3 .project-pic {
  background-image: url(/assets/welcome/rec-center.jpg);
  background-size: 100% 100%;
}

#box4 .project-pic {
  background-image: url(/assets/welcome/park.jpg);
  background-size: 100% 100%;
}
