// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

.hero {
  position: absolute;
  height: 350px;
  width: 100%;
  background-color: transparentize(pink, 0.3);
  background-image: url(/assets/hero.png);
  background-size: cover;
  background-position: center bottom;

  a {
    text-decoration: none;
  }
}

.logo {
  width: 350px;
  margin: auto;
  margin-top: 25px;
  padding-left: 2%;
}

.get-started {
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 11%;
  padding-top: 10px;
  border: 2px solid white;
  color: white;

 &:hover {
  background-color: transparentize(white, 0.6);
  }
}

.boxes {
  height: 275px;
  width: auto;
  margin-top: 363px;
}

.box-row {
  padding-top: 8px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.box {
  display: inline-block;
  margin: 0 7px 0 7px;
  height: 260px;
  width: 23%;
  background-color: pink;
  border: 2px solid black;
  border-radius: 5px;
}
