<!DOCTYPE html>
<html>
<head>
  <title>HelpApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- container div -->
<div>
  <!-- nav div -->
  <div>
    <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
  </div>


<%= yield %>

<!-- footer div -->
<div>
  <div>About HelpApp</div>
  <div>Contact Us</div>
  <!-- add social icons with share links in get social div -->
  <div>Get Social</div>
</div>
<!-- container div closing tag -->
</div>
</body>
</html>
